ActualQuinnsTrivia.json
[{"id":"3d0509e0.887c86","type":"http request","z":"82499da.dcfe26","name":"GetTriviaQuestions","method":"GET","ret":"obj","url":"https://opentdb.com/api.php?amount=10&type=boolean","tls":"","x":430,"y":460,"wires":[["da6c6069.85e43","46e259b0.31d7b8"]]},{"id":"26d540a7.0fa1f","type":"http in","z":"82499da.dcfe26","name":"Trivia page","url":"/trivia","method":"get","upload":false,"swaggerDoc":"","x":140,"y":420,"wires":[["3d0509e0.887c86"]]},{"id":"da6c6069.85e43","type":"template","z":"82499da.dcfe26","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n    <head>\n        <link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css\" integrity=\"sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO\" crossorigin=\"anonymous\">\n<script type=\"text/javascript\" charset=\"utf-8\">\n  var correctAnswers = 0;\n  \n  function checkAnswer(userAnswer, answer) {\n    if (userAnswer != answer) {\n        alert('Wrong!');\n    } else {\n        correctAnswers++;\n        alert('Correct! You have answered ' + correctAnswers + ' correctly.');\n    }\n  }\n</script>\n    </head>\n    <body>\n<h1>Quinns Awesome Trivia</h1>\n<ul>\n{{#payload}}\n    {{#results}}\n     <li>\n         {{{question}}}\n         <br>\n         <button type=\"button\" class=\"btn btn-success btn-sm\" onClick=\"checkAnswer('True', '{{correct_answer}}')\">True</button>\n         <button type=\"button\" class=\"btn btn-danger btn-sm\" onClick=\"checkAnswer('False', '{{correct_answer}}')\">False</button>\n         </li>\n    {{/results}}\n\n{{/payload}}\n</ul>\n</body>\n</html>","output":"str","x":690,"y":480,"wires":[["33de99b9.cc24d6"]]},{"id":"33de99b9.cc24d6","type":"http response","z":"82499da.dcfe26","name":"","statusCode":"","headers":{},"x":1130,"y":580,"wires":[]},{"id":"46e259b0.31d7b8","type":"debug","z":"82499da.dcfe26","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1060,"y":380,"wires":[]}]